h3, h4, h5, p {
    margin: 0;
}

.products--container {
    padding-bottom: 150px;
}

.products--title {
    margin-top: 50px;
    font-size: 2em;
    text-align: center;
    line-height: 1.1;
}

.products--title h5 {
    color: #333;
    font-weight: 400;
    font-size: .6em;
    text-transform: uppercase;
}

.products--title h3 {
    margin: 20px;
}

.dividing-line {
    border-bottom: 2px solid #333;
    width: 120px;
    margin: 40px auto;
}

.products--cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: auto;
    gap: 2em;
    width: 100%;
    padding: 2em;
}

.products--card {
    position: relative;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
}

.products--card:hover {
    transition: .5s;
    transform: scale(1.1);
}

.products--card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.products--card-text {
    padding: 20px;
    border: 1px solid #eee;
}

@media screen and (min-width: 767px) {
    .products--title {
        margin-top: 150px;
    }
}

